#homePageHeader {
  position: absolute;

  h1 {
    span{
      content: url("../images/plus-square.svg");
      height: 40px;
    }
  }
  #projects {
    color: #ffffff;
    font-size: 35px;
    background: $light-grey;
    border: 0;
    border-bottom: 10px, black;
    padding: 15px 20px 15px 20px;
  }
  #projects:hover {
    background: $dark-grey;
  }
  #projects:active{
    border-bottom: 5px green;
  }
}
