#header {
  #headerImage {
    height: 500px;
    justify-content: center;
    padding: 0;
    overflow: hidden;
  }
  #hero {
      position: absolute;
      width: 100%;
      opacity: .5;
      top: -200px;
      left: 0;
      z-index: -1;
  }
}

.navigation {
  font-size: 1.5em;

  display: flex;
  justify-content: center;
  color: $light-color;
  background-color: $dark-grey;
  border-bottom: 3px solid $light-grey;
  a {
    color: white;
    font-family: $font;
  }
  li {
    border-left: 1px solid $light-grey;
    border-right: 1px solid $light-grey;
    padding: 10px;
    align-self: center;
  }
}
.nav>li>a:hover{
  background-color: $light-grey;
}
.nav>li:hover{
  background-color: $light-grey;
  border-bottom: solid 3px $green;
}

.nav>li>a:focus{
  background-color: $light-grey;
}

.active {
  background-color: $light-grey;
  border-bottom: solid 3px green;
}

.jumbo {
  background-color: $dark-grey;
  border-bottom: 1px solid $light-grey;
  img {
    padding-top: 35px;
    width: 45%;
  }
  height: 177px;
}
