@import "variables";
@import "projects";
@import "blog";
@import "home";
@import "navigation";
@import "about";

body {
  padding-bottom: 150px;
}

.title {
  font-family: $font;
  font-size: 72px;
  color: black;
  padding-bottom: 15px;
}

.subTitle {
  font-family: $font;
  padding-bottom: 15px;
}

.social {
  height: 25px;
}

#copy {
  color: $light-color;
}
