@import "variables";
@import "projects";
@import "blog";

body {
  background-color: $background-color;
}

.jumbo {
  background-color: black;
  border-bottom: 1px solid #fffff4;
  img {
    width: 25%;
  }
}

#header {
  #headerImage {
    position: static;
    height: 350px;
    overflow: hidden;
  }
  #hero {
      position: absolute;
      opacity: .5;
      width: 33%;
      top: 0px;
      left: 0;
      z-index: -1;

  }
}
.navigation {
  font-size: 1.25em;
  color: #fffff4;
  background-color: black;
  a {
    color: #fffff4;
  }
}

#ppt {
  position: relative;
  bottom: 20px;

  .btn {
  background-color: #323944;
  color: #fffff4;
  //padding: 1em;
  //margin: .25em;
  }
}

.pageName {
  position: absolute;
  top: 25%;
  font-family: $font;
  font-size: 60px;
}

.social {
  height: 25px;
}
