<h1 class="col-md-8 col-md-offset-2 text-center pageName">About Me</h1>
<!-- <p class="lead">While serving the last ten years in technical support, process improvement, and people development roles, it became clear that the rapid advance of technology was forever changing the face of business. </p>

<p> In today’s world, software development and management needs to be a core competency of any growing company.
  I had always had a technical bent and knew that in order to serve organizations best, I needed to build on those innate abilities.
  </p>

<p class="lead">So, driven by a desire to integrate my skills and experience for the greatest impact, I enrolled in an intensive software development boot-camp that would allow me to develop software systems and help people work smarter.</p> -->
<div class="text-center" id="about">
    <h2>Business Consulting | 2013-Current</h2>
    <section>
      <ul>
        <li>Operations consulting majorly fixing things.</li>
        <li>Implemented various POS and warehouse management systems.</li>
        <li>Just overall killing it.</li>
      </ul>
    </section>


    <h2>Infoworks | 2013-2014</h2>
    <h3>Business Consultant</h3>
    <section>
      <ul>
        <li>Project manager for major medicare claims processor.</li>
        <li>Sucessfully led failed timeclock software change.</li>
        <li>Helped in the selection and implementation of a new OCR software.</li>
      </ul>
    </section>

    <h2>Vanderbilt University | 2012-2013</h2>
    <h3>Research Assistant</h3>
    <section>
      <ul>
        <li>Peroformed primary resarch for articles on evidence based management.</li>
        <li>Prepared reaserach resources.</li>
        <li>Prepared teaching resources.</li>
      </ul>
    </section>
</div>
