<div class="pageHeader">
  <div class="container text-center" id="me">
    <img id="adam-smith" src="./images/adam.jpg">
    <h1 class="title" id="name">Adam Smith</h1>
  </div>
</div>

<div class="text-center col-md-10 col-md-offset-1 post-hero">
  <h1 class="title">Stay Humble Hustle Hard</h1>
    <div class="container-fluid" id="about">
      <h2 class="lead col-md-12">While serving the last ten years in technical support, process improvement, and people development roles, it became clear that the rapid advance of technology was forever changing the face of business. </h2>

      <h2 class="lead col-md-12"> I believe in today’s world, software development and management needs to be a core competency of any growing company.
        I have always had a technical bent and felt that in order to serve organizations best, I needed to build on those innate abilities.
      </h2>

      <h2 class="lead col-md-12">So, driven by a desire to integrate my skills and experience for the greatest impact, I enrolled in an intensive software development boot-camp that would allow me to develop software systems and help people work smarter.</h2>

      <h2 class="lead col-md-12">I have diverse business consulting experience across multiple roles including:
            <ul id="rolesList">
              <li><span><i class="fas fa-circle fa-xs"></i></span> Software Systems Implementation and Training</li>
              <li><span><i class="fas fa-circle fa-xs"></i></span> Process Consulting and Improvement</li>
              <li><span><i class="fas fa-circle fa-xs"></i></span> Performance Management</li>
              <li><span><i class="fas fa-circle fa-xs"></i></span> Project Management</li>
              <li><span><i class="fas fa-circle fa-xs"></i></span> Coaching</li>
            </ul>
        </h2>
        <h2 class="lead col-md-12">My experience includes work for major retail distribution, direct to consumer, and healthcare. I have a demonstrated ability to lead teams through processes and break the complex down into simple pieces while keeping the end goal in mind. I am a creative problem solver with ability to adapt in fast-paced, changing environments, and I am adept at identifying priorities and anticipating hurdles while effectively meeting objectives. </h2>

      <h2 class="lead col-md-12"> I am currently working in various freelance roles during the day while completeing the part-time software developer bootcamp at <a href="http://nashvillesoftwareschool.com/" target="_blank">Nashville Software School</a> during the evenings.</h2>
    </div>
</div>
