<div class="row container pageHeader">
  <div class="col-md-9 col-md-offset-3">
    <h1 class="title">
      Get In Touch
    </h1>
    <h2 class="subTitle">Want to know more about my work, life, or expereince? Creep my code and find me on LinkedIn. Then send me an e-mail, I'd love to connect.
  </div>
  <div class="col-md-8 col-md-offset-3">
    <contact class="contact">
      <a href="https://www.linkedin.com/in/adamhsmith/"><i class="fab fa-linkedin fa-5x"></i></a>
      <a href="https://github.com/hagansmith"><i class="fab fa-github-square fa-5x"/></a>
      <a href="mailto:hagansmith@gmail.com"><i class="fas fa-envelope-square fa-5x"/></a>
    </contact>
  </div>
</div>
