<div class="row container pageHeader">
  <div class="col-md-9 col-md-offset-2">
    <h1 class="title">
        People <span><i class="fas fa-plus-square fa-xs"></i></span>
        Process <br><span><i class="fas fa-plus-square fa-xs"></i></span>
        Technology
    </h1>
  </div>
  <div class="col-md-9 col-md-offset-2">
    <button class="btn-big">View Projects</button>
  </div>
</div>

<div class="text-center col-md-10 col-md-offset-1 post-hero">
  <div>
    <h1 class="title">Smarter not Harder</h1>
    <h2 class="subTitle">Working at the intersection of people, process, and technology to solve problems and help businesses run smarter.</h2>
  </div>
  <br/>
  <div class="col-md-8 col-md-offset-2">
    <button class="btn-big">More About Me</button>
  </div>
</div>

<div class="text-center col-md-12" id="experience">
  <h1 class="title">Experience</h1>
  <div class="expCard col-md-3">
      <i class="fas fa-pencil-alt fa-5x skill"></i>
    <h2>Software Development</h2>
    <h3>Some smaller descriptive text</h3>
  </div>
  <div class="expCard col-md-3">
    <i class="fas fa-cogs fa-5x skill"></i>
    <h2>Business Consulting</h2>
    <h3>Some smaller descriptive text</h3>
  </div>
  <div class="expCard col-md-3">
    <i class="far fa-chart-bar fa-5x skill"></i>
    <h2>Performance Management</h2>
    <h3>Some smaller descriptive text</h3>
  </div>
  <div class="expCard col-md-3">
    <i class="fas fa-clipboard-list fa-5x skill"></i>
    <h2>Project Management</h2>
    <h3>Some smaller descriptive text</h3>
  </div>
  <br/>
  <div class="col-md-8 col-md-offset-2">
    <button class="btn-big" id="more">Get In Touch</button>
  </div>
</div>
