<!-- Secondary Project Nav  -->
    <div id="ppt" class="col-md-9">
      <!-- <ul class="nav nav-tabs navbar-right"> -->
        <div data-toggle="collapse" data-target="0"><button type="button" class="btn btn-default btn-lg col-md-2 col-md-offset-4" href="#">People</button></div>
        <div data-toggle="collapse" data-target="1"><button type="button" class="btn btn-default btn-lg col-md-2 col-md-offset-1" href="#">Process</button></div>
        <div data-toggle="collapse" data-target="2"><button type="button" class="btn btn-default btn-lg col-md-2 col-md-offset-1" href="#">Technology</button></div>
      <!-- </ul> -->
    </div>


  <div class="collapse col-sm-12" id="0">
    <h1> Browserify Sandwich </h1>
    <img src="images/browserSandwich.gif" class="demo">
    <h2> The browserify sandwich project is an individual project working with Browserify, Grunt, JSON, and XHR</h2>
  </div>
</div>

<!-- "name": "Browserify Sandwich",
"description": "The browserify sandwich project is an individual project working with Browserify, Grunt, JSON, and XHR",
"screen_shot": "https://github.com/hagansmith/browserfy_sandwich/blob/master/browserSandwich.gif",
"gitub_link": "https://github.com/hagansmith/browserfy_sandwich" -->
