<div class="text-center" id="home">
  <div id="headerContent" class="container-fluid">
    <img src="/images/coding-on-laptop_4460x4460.jpg">
  <div>
  <div id="projects">
    <ul class="nav nav-tabs navbar-right">
      <li role="presentation" class="active"><a href="#">Project</a></li>
      <li role="presentation"><a href="#">Project</a></li>
      <li role="presentation"><a href="#">Project</a></li>
      <li role="presentation"><a href="#">Project</a></li>
      <li role="presentation"><a href="#">Project</a></li>
    </ul>
  </div>
</div>
