<container id="header" ng-controller="NavCtrl">

<!-- Logo -->
  <div class="container-fluid text-center jumbo">
    <div class="">
        <img src="/images/ahs.png">
      </div>
    </div>

<!-- Nav -->
  <div class="navigation container-fluid">
    <ul class="nav navbar-nav">
      <li><a ng-href="#!/home">Home</a></li>
      <li><a ng-href="#!/about">About</a></li>
      <li><a ng-href="#!/contact">Contact</a></li>
      <li><a ng-href="#!/blog">Blog</a></li>
<!-- Projects dropdown  -->
      <li class="dropdown" id="projects-nav">
        <a href="#!/projects" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects<span class="glyphicon glyphicon-chevron-down"></span></a>
        <ul class="dropdown-menu">
          <li><a ng-repeat="project in projects" id="{{project.id}}" ng-click="showProject(project.id)">{{project.name}}</a></li>
        </ul>
      </li>
    </ul>
  </div>

<!-- Hero Image  -->
  <div class=" row text-center" id="headerImage">
    <div class="video-container id="hero"">
      <div class="filter"></div>
      <video autoplay loop class="fillWidth">
        <source src="images/Aloha-Mundo/MP4/Aloha-Mundo.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
        <source src="images/Aloha-Mundo/WEBM/Aloha-Mundo.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
      </video>
      <div class="poster hidden">
        <img src="images/Aloha-Mundo/Snapshots/Aloha-Mundo.jpg" alt="">
      </div>
    </div>
  </div>
</container>
