<container id="header" ng-controller="NavCtrl">

<!-- Logo -->
  <div class="text-center jumbo" id="header">
    <div>
      <img src="/images/AHS-Big.png">
    </div>
  </div>
<!-- Nav -->
  <div class="navigation container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a ng-href="#!/home">HOME</a></li>
      <li><a ng-href="#!/about">ABOUT</a></li>
      <li><a ng-href="#!/contact">GET IN TOUCH</a></li>
      <!-- <li><a ng-href="#!/blog">Blog</a></li> -->
      <li><a ng-href="#!/projects">PROJECTS</a></li>
    </ul>
  </div>

<!-- Hero Image  -->
  <div class="text-center col-md-12" id="headerImage">
    <div class="video-container col-md-12">
      <div class="filter"></div>
      <video autoplay loop class="fillWidth" id="hero">
        <source src="images/Aloha-Mundo/MP4/Aloha-Mundo.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
        <source src="images/Aloha-Mundo/WEBM/Aloha-Mundo.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
      </video>
      <div class="poster hidden">
        <img src="images/Aloha-Mundo/Snapshots/Aloha-Mundo.jpg" alt="">
      </div>
    </div>
</container>
