<h1 class="col-md-4 col-md-offset-4 text-center pageName">Projects</h1>

<container id="projects" class="row container">
  <div class="col-md-12 projectInfo" ng-repeat="project in projects" id="{{project.id}}" ng-show="project.id">
    <h2 class="text-center">{{project.name}}</h2>
    <div class="col-md-10">
      <img class="preview col-md-4 col-md-offset-2" src="{{project.preview}}">
      <div class="col-md-4">
        <h3 class="col-md-6"><a href="{{project.gitub_link}}">Project GitHub</a></h3>
        <h3 class="col-md-6" ng-hide="!project.site_link"><a href="{{project.site_link}}">Project Website</a></h3>
      </div>
      <h4 class="col-md-5">{{project.description}}</h4>
    </div>
  </div>
</container>
