<div class="row container pageHeader">
  <div class="col-md-8 col-md-offset-3">
    <h1 class="title">
      NSS Projects
    </h1>
  </div>
</div>
<div class="projectsContainer container">
  <div class="text-center row" id="projects">
    <div class="project col-sm-6 col-md-4" ng-repeat="project in projects" id="{{project.id}}" ng-show="project.id">
      <img class="preview" src="{{project.preview}}"/>
      <div class="name col-md-12" ng-click="launchModal('partials/projectDetail.html','ProjectDetailCtrl')" ng-controller="ModalCtrl"><p ng-controller="ProjectCtrl">{{project.name}}</p>
      </div>
    </div>
  </div>
</div>
