<container id="projects" class="row container">
  <div class="col-md-12 projectInfo" id="{{project.id}}" ng-show="project.id">
    <h2 class="text-center">{{project.name}}</h2>
    <div class="col-md-10 col-md-offset-1">
        <h3 class="col-md-6"><a href="{{project.gitub_link}}" target="_blank">Project GitHub</a></h3>
        <h3 class="col-md-6" ng-hide="!project.site_link"><a href="{{project.site_link}}" target="_blank">Project Website</a></h3>
      <h4 class="col-md-12">{{project.description}}</h4>
    </div>
  </div>
</container>
