.blog {
  height: 110px;
  overflow: hidden;
  font-family: "Yeseva One", cursive; }

#focusBlog {
  min-height: 110px;
  padding-top: 10px; }

.jumbotron {
  padding-top: 10px; }

#home {
  position: relative; }
  #home #adam {
    position: absolute;
    top: -275px; }
    #home #adam img {
      width: 175px;
      border-radius: 100%; }
  #home #about-blurb {
    position: absolute;
    top: 25px;
    padding-bottom: 100px; }

#header #headerImage {
  position: relative;
  height: 350px;
  overflow: hidden; }

#header #hero {
  position: absolute;
  width: 100%;
  opacity: .5;
  top: -200px;
  left: 0;
  z-index: -1; }

.navigation {
  font-size: 1.25em;
  color: #fffff4;
  background-color: black; }
  .navigation a {
    color: #fffff4; }

.jumbo {
  background-color: black;
  border-bottom: 1px solid #fffff4; }
  .jumbo img {
    width: 25%; }

#about ul li {
  list-style: none; }

body {
  background-color: #fffff4;
  padding-bottom: 150px; }

.pageName {
  position: absolute;
  top: 160px;
  font-family: "Yeseva One", cursive;
  font-size: 72px;
  color: #fffff4; }

.social {
  height: 25px; }

#copy {
  color: #fffff4; }
