.blog {
  height: 110px;
  overflow: hidden;
  font-family: "Ubuntu", sans-serif; }

#focusBlog {
  min-height: 110px;
  padding-top: 10px; }

.jumbotron {
  padding-top: 10px; }

#homePageHeader {
  position: absolute; }
  #homePageHeader h1 span {
    content: url("../images/plus-square.svg");
    height: 40px; }
  #homePageHeader #projects {
    color: #ffffff;
    font-size: 35px;
    background: #4A4A4A;
    border: 0;
    border-bottom: 10px, black;
    padding: 15px 20px 15px 20px; }
  #homePageHeader #projects:hover {
    background: #252525; }
  #homePageHeader #projects:active {
    border-bottom: 5px green; }

#header #headerImage {
  height: 350px;
  justify-content: center;
  padding: 0;
  overflow: hidden; }

#header #hero {
  position: absolute;
  width: 100%;
  opacity: .5;
  top: -200px;
  left: 0;
  z-index: -1; }

.navigation {
  font-size: 1.25em;
  display: flex;
  justify-content: center;
  color: #fffff4;
  background-color: #252525;
  border-bottom: 3px solid #4A4A4A; }
  .navigation a {
    color: white;
    font-family: "Ubuntu", sans-serif; }
  .navigation li {
    border-left: 1px solid #4A4A4A;
    border-right: 1px solid #4A4A4A;
    align-self: center; }

.nav > li > a:hover {
  background: #4A4A4A; }

.nav > li > a:focus {
  background: #4A4A4A;
  border-bottom: 3px green; }

.jumbo {
  background-color: #252525;
  border-bottom: 1px solid #4A4A4A;
  height: 177px; }
  .jumbo img {
    padding-top: 35px;
    width: 45%; }

#about ul li {
  list-style: none; }

body {
  background-color: #fffff4;
  padding-bottom: 150px; }

.pageName {
  font-family: "Ubuntu", sans-serif;
  font-size: 72px;
  color: black; }

.social {
  height: 25px; }

#copy {
  color: #fffff4; }
